.container, canvas {
    background-color: black;
    position: absolute
}

.container {
    position: relative;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    top:0;
    padding-left: 2em;
    padding-top: 2em;
    pointer-events: none;
}

.navTab {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 3em;
    padding: 3vh 2vh;
    cursor: pointer;
    color:aliceblue;
    pointer-events: all;
}

.navTabSelected {
    background-color: alice-blue;
    color: black;
    background-color: #f0f8ff88;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 3em;
    padding: 3vh 2vh;
    cursor: pointer;
    pointer-events: all;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 9vh;
    padding-bottom: 10px;
    color: aliceblue;
}

.contact {
    font-size: 2em;
    background-color: rgba(54, 54, 54, 0.5);
    position: fixed;
    top: 55vh;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    padding: 1.6em;
    margin-left: 3vw;
    font-weight: 300;
}
.madeWith {
    font-size: 1.6em;
    position: fixed;
    top: 85vh;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    padding: 1.6em;
    font-weight: 300;
}

.infoPaneContainer {
    color: aliceblue;
    background-color: rgba(54, 54, 54, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0vw;
    padding: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
}

.infoPaneContainerExpanded {
    background-color: rgba(24, 24, 24, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 65vw;
    padding: 1em 1em;
    overflow: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
}

.infoPane {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    font-weight: 100;
    position: relative;
    overflow-x: show;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paneContainer {
    padding: 0em 2em;
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: space-between;
    align-items: center; 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.infoRow {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 4vh;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

.project-container {
    display: flex;
    flex-direction: row;
    padding: 0 2em 2em 0;
    justify-content: center;
    align-items: center;
}

.project-left-column {
    display: flex;
    flex-direction: column;
    padding-right: 2em;
}

.project-title {
    font-weight: 400;
}

.project-header {
    display: flex;
    flex-direction: row;
}

.project-links {
    display:flex;
    flex-direction: row;
}

.project-description {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}

.project-image {
    width: 16em;
}

.techPaneContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 5em;
}

.paneLeftColumn {
    padding: 2em;
    color: aliceblue;
    font-weight: 100;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 5vh;
    flex-basis: 1;
}

.paneRightColumn {
    width: 50%;
    padding: 6em 2em 0em 0em;
    color: aliceblue;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.logoContainer {
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(3, 8vw [col-start]);
    grid-template-rows: repeat(4, 14vh [row-start]);
}

.tech-logo {
    width: 8vh
}

a:link {
    color: rgb(132, 183, 228);
}

a:visited {
    color: rgb(71, 92, 151);
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }